USE [PRACTICE]
GO
/****** Object:  StoredProcedure [dbo].[SELECT_AREA]    Script Date: 19-11-2021 09:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SELECT_AREA] @WORKING_AREA CHAR(35)
AS
SELECT * FROM AGENTS WHERE WORKING_AREA = 'Hampshair';
